<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap core CSS -->
        <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
              rel="stylesheet">

        <!-- Custom styles for this template -->
        <link th:href="@{/css/heroic-features.css}" rel="stylesheet">
    </head>
    <body>
        <div th:include="user/template.html::header"></div>
        <div class="container">
            <!-- Page Heading/Breadcrumbs -->
            <h1 class="mt-4 mb-3">
                Spring eCommerce <small>Carrito</small>
            </h1>

            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                <li class="breadcrumb-item active">Carrito</li>
            </ol>

            <!-- Blog Post -->
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-9">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Producto</th>
                                        <th scope="col">Precio</th>
                                        <th scope="col">Cantidad</th>
                                        <th scope="col">Total</th>
                                        <th scope="col">Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="cartOrder:${cart}">
                                        <td th:text="${cartOrder.name}"></td>
                                        <td th:text="${cartOrder.price}"></td>
                                        <td th:text="${cartOrder.amount}"></td>
                                        <td th:text="${cartOrder.total}"></td>
                                        <td><a th:href="@{/delete/cart/{idProduct} (idProduct=${cartOrder.product.id_product}) }" class="btn btn-danger">Eliminar</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-lg-3">
                            <h2 class="card-title">SUBTOTAL</h2>

                            <ul class="list-group">
                                <li><h5 th:text="${order.total}"></h5></li>
                                <a th:href="@{/order}" class="btn btn-dark" >Ver Orden</a>
                            </ul>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div th:include="user/template.html::footer"></div>
        <!-- Bootstrap core JavaScript -->
        <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
        <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    </body>
</html>
